# Recitation 8

Welcome back enthusiastic data science learners, this week we'll go over some more SQL and more specifically SQL joins.

### Setup Code

Because using a local mysql server can be tricky for everyone to follow along with, we'll use a nifty library that allows you to run SQL statements on a pandas data frame. It's called `pandasql` and you can find more info about it here: https://pypi.org/project/pandasql/. This notebook works for sure on google colab (https://colab.research.google.com/) so if you're unable to run on your local machine, you can try at the link provided

In [ ]:
!pip install -U pandasql
!pip install SQLAlchemy==1.4.46

In [ ]:
from pandasql import sqldf
import pandas as pd

pysqldf = lambda q: sqldf(q, globals())
pd.options.display.max_columns = None
pd.set_option('display.max_colwidth', None)

In [ ]:
!curl -L  https://rutgers.box.com/shared/static/ynnwivc9xjvn1ooeltmmsyfjwsjt3te5 --output social_media.zip
!unzip social_media.zip -d ./social_media
insta = pd.read_csv("./social_media/social media influencers - instagram.csv")
tiktok = pd.read_csv("./social_media/social media influencers - tiktok.csv")
youtube = pd.read_csv("./social_media/social media influencers - youtube.csv")

## What're Thoooooose?

Infamous billionaire Elon Musk has just purchased the now defunct social media platform Vine and is attempting to poach influencers from other platforms. He has just hired you to be the new Vine Social Media Marketing Data Science Influencer Analytics Manager, write the appropriate queries to answer these questions.
- First look over and familiarize yourself with the columns and contents of the tables
- Next join the insta and tiktok tables together such that the "Tiktok name" and "instagram name" are the same, if there are mismatching values in either table, we want to omit that row
- Now join the youtube table as well on the column "youtuber name"
- Your boss Elon is unhappy however, he wants to join the Tiktok and insta tables together but he doesn't want to loose the Tiktok rows that don't have the same username as insta, instead he wants the new insta columns of these rows to be NULL
- Lastly take your query from the inner join of tiktok and instagram influencers, then create a new column called fans which is the sum of the youtube subscribers and tiktok followers that an account has, finally sort the table based on this new column
- Additionally spend some time trying to look at popular channels with followings from different countries such as Germany, India and more. It's interesting to see the type of content that is popular around the world

<img src="https://i.makeagif.com/media/9-24-2015/GBVCN9.gif" alt="meme" width="200"/>

In [ ]:
# Look over and familiarize yourself with the columns and contents of the tables

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM insta
```

```sql
SELECT *
FROM youtube
```

```sql
SELECT *
FROM tiktok
```

### INNER JOIN

<img src="https://s33046.pcdn.co/wp-content/uploads/2019/06/venn-diagram-representation-of-sql-inner-join-.png" alt="meme" width="400"/>


An inner join is an operation in relational database that combines rows from two or more tables based on a related column between them. The result of an inner join includes only the rows that have matching values in both tables' specified columns. In other words, it returns the intersection of the data in the two tables.

In [ ]:
# Next join the insta and tiktok tables together such that the "Tiktok name" and "instagram name" are the same, 
# if there are mismatching values in either table, we want to omit that row

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM insta
INNER JOIN tiktok on "Tiktok name" = "instagram name"
```

In [ ]:
# Now join the youtube table as well on the column "youtuber name"

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM insta
INNER JOIN tiktok on "Tiktok name" = "instagram name"
INNER JOIN youtube on "youtuber name" = "instagram name"
```
Q: Why do the number of rows keep decreasing?

### OUTER JOINS

<img src="https://miro.medium.com/v2/resize:fit:1358/1*kGuUJxJwsuiLRa5pL3bsCA.png" alt="meme" width="400"/>

An outer join is another type of operation in relational database that combines rows from two or more tables based on a related column, like an inner join. However, unlike an inner join that returns only the rows with matching values in both tables, an outer join includes rows from at least one of the tables even if there are no matching values in the other table. Outer joins are used to retrieve data from tables while preserving unmatched rows from one or both tables.

There are three types of outer joins:

- Left Outer Join (or Left Join): A left outer join returns all the rows from the left table and the matched rows from the right table. If there is no match in the right table, NULL values are returned for the columns from the right table.

- Right Outer Join (or Right Join): A right outer join is essentially the opposite of the left outer join. It returns all the rows from the right table and the matched rows from the left table. If there is no match in the left table, NULL values are returned for the columns from the left table.

- Full Outer Join (or Full Join): A full outer join returns all the rows from both tables. If there is a match, the columns are filled with the matched values. If there is no match in one or both tables, NULL values are returned for the columns from the table(s) with no match.

In [ ]:
# Your boss Elon is unhappy however, he wants to join the Tiktok and insta tables together but he doesn't want to loose 
# the Tiktok rows that don't have the same username as insta, instead he wants the new insta columns of these rows to be NULL

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM tiktok
LEFT OUTER JOIN insta on "Tiktok name" = "instagram name"
```
See how the rows don't decrease this time?

In [ ]:
# Lastly take your query from the inner join of tiktok and instagram influencers, then create a new column called fans 
# which is the sum of the youtube followers and tiktok subscribers that an account has, finally sort the table based on 
# this new column

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT "instagram name" as insta_user, "Tiktoker name" as tiktok_user, Followers + "Subscribers count" as fans_m
FROM insta
INNER JOIN tiktok ON "Tiktok name" = "instagram name"
ORDER BY fans_m DESC
```
Q: Why are there duplicate rows? Spend some time to look into the cause of this issue, you can use the `UNIQUE` query to omit repeats if wanted

In [ ]:
!curl -L  https://rutgers.box.com/shared/static/y0eert6f5723t4bc4cqcqp3kpw83j375 --output friends.csv
friends = pd.read_csv("./friends.csv")

## Friends :)

I [Advith] grew up on this show, and I hope y'all enjoy these problems

- Like always the first step is to look at the table that you're working with
- I want to get all the episodes where Chandler is mentioned in the summary, then I want to sort it by the highest stars to the lowest
- Friends was known for its unique naming convention where each each episode starts with "The one...", I want to get the number of episodes that don't follow this convention
- Find the average Stars of each season, hint: you need to use grouping for this
- If time permits just have fun playing around with this and the previous datasets!

<img src="https://media.tenor.com/65okjDiw1vUAAAAd/hug-friends.gif" alt="toad" width="200"/>

In [ ]:
# Find the distinct names of all the video games that were released after 2015 and made more than 1 million dollars

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM friends
```

In [ ]:
# I want to get all the episodes where Chandler is mentioned in the summary, then I want to sort it by the highest stars to
# the lowest

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM friends
WHERE SUMMARY LIKE "%Chandler%"
ORDER BY Stars DESC
```

In [ ]:
# Friends was known for its unique naming convention where each each episode starts with "The one...", I want to get 
# the number of episodes that don't follow this convention

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer

```sql
SELECT COUNT(*)
FROM friends
WHERE Episode_Title NOT LIKE "The one%"
```

### Grouping

We'll probably learn more about grouping as the semester rolls along, but basically grouping is a process used to group rows from a table based on the values in one or more columns. It's often used in conjunction with aggregate functions to perform calculations on groups of rows rather than on individual rows.

In [ ]:
# Find the average Stars of each season, hint: you need to use grouping for this

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT season, AVG(stars) as average_rating
FROM friends
GROUP BY season
ORDER BY average_rating DESC
```
Q: What would happen if I did `SELECT *` here instead?