# Recitation 6

Welcome back! Hope you're looking forward to your exams (or your exam went well if you're meeting on a friday). This week we will cover SQL!

<img src="https://media.tenor.com/eJZbFUQUMzEAAAAM/nosql-power-rangers.gif" alt="meme" width="400"/>

## Before we start

If you have any questions about the exam or anything you're confused about, now is the time to ask. There is no such thing as a dumb question so please ask away!

### Setup Code

Because using a local mysql server can be tricky for everyone to follow along with, we'll use a nifty library that allows you to run SQL statements on a pandas data frame. It's called `pandasql` and you can find more info about it here: https://pypi.org/project/pandasql/. This notebook works for sure on google colab (https://colab.research.google.com/) so if you're unable to run on your local machine, you can try at the link provided

In [ ]:
!pip install -U pandasql
!pip install SQLAlchemy==1.4.46

In [ ]:
from pandasql import sqldf
import pandas as pd

pysqldf = lambda q: sqldf(q, globals())

In [ ]:
!curl -L  https://rutgers.box.com/shared/static/2qchtiiq250iuqtqta33xdh1bo2aqels --output employees.csv
df = pd.read_csv("employees.csv")
df.head()

## CEO Entrepreneur Born in 1964...

Congrats! You've been hired by Amazon as an HR Rep! Your first task is to find employees to assign to the "personnel improvement program" (PIP). Use SQL to identify people who meet these criteria below.
- Find all employees who were hired after 2015
- Find all employees who work for Clothing or Tools
- Find all employees who make more than 100k but less than 125k
- Find all employees who haven't given amazon their email (shows disloyalty to the company)
- Find all men who were hired before 2006, work in pharmacy, and work in region 2

<img src="https://media.tenor.com/GugokSc3Q4EAAAAC/risa-bezos-speedball.gif" alt="bezos" width="200"/>

In [ ]:
# Find all employees who were hired after 2015

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM df
WHERE hire_date > '2015-01-01'
```

In [ ]:
# Find all employees who work for Clothing or Tools

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM df
WHERE department IN ('Clothing', 'Tools')
```

In [ ]:
# Find all employees who make more than 100k but less than 125k

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM df
WHERE salary BETWEEN 100000 AND 125000
```

In [ ]:
# Find all employees who haven't given amazon their email (shows disloyalty to the company)

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM df
WHERE email IS NULL
```

In [ ]:
# Find all men who were hired before 2006, work in pharmacy, and work in region 2

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SELECT *
FROM df
WHERE (gender = 'M' AND hire_date < '2006-01-01' AND department = 'Pharmacy' AND region_id = 2)
```

## Nintendo

Congrats! You've been hired by Nintendo as a video game sales analyst! Your first job is to retrieve the following information:
- Find the distinct names of all the video games that were released after 2015 and made more than 1 million dollars
- Nintendo has just created a new video game called Toad's cowboy adventures, insert a new row into the table with the following info
    ```javascript
    {
        Rank: 26,
        Name: Toad's cowboy adventures,
        Platform: Switch,
        Year: 2023,
        Genre: Shooter,
        Publisher: Nintendo,
        NA_Sales: 0.56,
        EU_Sales: 0.12,
        JP_Sales: 1.45,
        Other_Sales: 0.23,
        Global_Sales: 2.36
    }
    ```
- Nintendo got some new information about the game FIFA 14 on the 3DS platform, basically the japanese sales should be 0.09 rather than 0, update the row to reflect the new information
- Nintendo wants to delete the game 'Mushi Bugyou' from its sales table, they feel that it performed very poorly and want to forget about it. Delete the row accordingly
- In fact Nintendo wants to rid all the entries where they are the publisher and the global sales are less than a million dollars

While the guided questions are over, if you have more time I would encourage you to explore the dataset by writing more queries!

NOTE: Anything other than SELECT statements cannot be run in the notebook, use an online sql compiler such as this one: https://sqliteonline.com to test your code

<img src="https://media.tenor.com/Pq2YmXIRgngAAAAM/scream-toad.gif" alt="toad" width="200"/>

In [ ]:
## Setup code do not edit

!curl -L  https://rutgers.box.com/shared/static/bqkkbunoz9d92c62sfoh3dogrqmb0oue --output vg_sales.csv
df = pd.read_csv("vg_sales.csv")
df.head()

In [ ]:
# Find the distinct names of all the video games that were released after 2015 and made more than 1 million dollars

query = """
### ENTER YOUR SQL QUERY HERE
"""

pysqldf(query)

#### Answer
```sql
SElECT DISTINCT Name
FROM df
WHERE Year > 2015.0 and Global_Sales > 1
```

In [ ]:
# Nintendo has just created a new video game called Toad's cowboy adventures, 
# insert a new row into the table with the following info
# {
#     Rank: 26
#     Name: Toad's cowboy adventures,
#     Platform: Switch,
#     Year: 2023,
#     Genre: Shooter,
#     Publisher: Nintendo,
#     NA_Sales: 0.56,
#     EU_Sales: 0.12,
#     JP_Sales: 1.45,
#     Other_Sales: 0.23,
#     Global_Sales: 2.36
# }

# NOTE: This code will not actually run due to limitations of this notebook

query = """
### ENTER YOUR SQL QUERY HERE
"""

#### Answer
```sql
INSERT INTO df 
VALUES (26, 'Toads cowboy adventures', 'Switch', 2023, 'Shooter', 'Nintendo', 0.56, 0.12, 1.45, 0.23, 2.36);
```

In [ ]:
# Nintendo got some new information about the game FIFA 14 on the 3DS platform, basically the japanese sales 
# should be 0.09 rather than 0, update the row to reflect the new information

# NOTE: This code will not actually run due to limitations of this notebook

query = """
### ENTER YOUR SQL QUERY HERE
"""

#### Answer

```sql
UPDATE df
SET JP_Sales = 0.09
WHERE Name = 'FIFA 14' AND Platform = '3DS'
```

In [ ]:
# Lastly Nintendo wants to delete the game 'Mushi Bugyou' from its sales table, they feel that it performed very 
# poorly and want to forget about it. Delete the row accordingly

# NOTE: This code will not actually run due to limitations of this notebook

query = """
### ENTER YOUR SQL QUERY HERE
"""

#### Answer
```sql
DELETE FROM df 
WHERE Name = 'Mushi Bugyou'
```

In [ ]:
# In fact Nintendo wants to rid all the entries where they are the publisher and the global sales are less than 
# a million dollars

# NOTE: This code will not actually run due to limitations of this notebook

query = """
### ENTER YOUR SQL QUERY HERE
"""

#### Answer
```sql
DELETE FROM vg_sales 
WHERE publisher = 'Nintendo' AND global_sales < 1
```